{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>


<style>
    .dz{
        border: dashed !important;
        border-color: #ccc !important;
        border-radius: 10px !important;
        transition: 0.2s all;
    }

    .dz:hover{
        background-color: aliceblue !important;
    }
</style>

{% endblock style %}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-wrapper-inner mb-5">
            <h1 class="tt-title-border">
                Yeni Mövzu yaradın
            </h1>
            <form class="form-default form-create-topic" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                
                {{ form.title | as_crispy_field }}
                
                <div class="pt-editor mb-4 d-flex flex-column">
                    <h6 class="pt-title">Mövzu*</h6>   
                    <!-- Errors -->
                    <div label='id_content' class="d-none alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>                  
                    {{ form.content }} {{ form.media }}  
                             
                </div>
                <div class="row mb-4 ">
                    <div class="col-md-12">
                        <div class="dropzone dz" id="myDropzone"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputTopicTags">Taqlar*</label> 
                            <!-- Errors -->
                            <div label='id_tags' class="d-none alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                <span label="error_content"></span>Qaydaları oxumaq üçün <a href="{% url 'student-rules' %}" class="alert-link"> clickləyin.</a> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                            </div>  
                            <input id="id_tags" type="text" data-role="tagsinput" placeholder="Taq istifadə edin"> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <input id="create_post_btn" type="submit" class="btn btn-secondary btn-width-lg" value="Post yaradın">
                    </div>
                </div>

                <button type="button" id="test">Click</button>
            </form>
        </div>

    </div>
</main>



{% endblock content %} {% block script %}



<script src="{% static 'js/tagsinput.js' %}"></script>
<!-- highlight.js-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
    Dropzone.options.myDropzone= {
    url: 'http://{{ request.get_host }}/create-topic/',
    headers:{
        'X-CSRFToken' : '{{ csrf_token }}'
    },
    autoProcessQueue: false,
    maxFiles : 2, // (Back-End : 2)
    maxFilesize : 2, //2 MB (Back-End : 2 MB)
    parallelUploads: 2,
    uploadMultiple : true,
    addRemoveLinks: true,
    autoProcessQueue: false, // Bununla biz submit etdikde filelar yuklenecek
    acceptedFiles: 'image/*', // (Back-End : only images)
    dictDefaultMessage: 'Şəkilləri bura yükləyin',
    dictFallbackMessage: 'Şəkilləri bura yükləyin',
    dictRemoveFile: 'Şəkli sil',
    dictFileTooBig: `Şəkilin tutumu böyüdür. Max şəkil tutumu: 2 MB`,
    dictInvalidFileType: 'Yalnız şəkil yükləyə bilərsiniz',
    dictMaxFilesExceeded: 'Maximum 2 şəkil yükləyə bilərsiniz',
    dictResponseError: "Server responded with {{statusCode}} code.",
    init: function() {
        dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

        // for Dropzone to process the queue (instead of default form behavior):
        $('#create_post_btn').on("click", function(e) {
            if (CheckContent() & CheckTag())
            {
                console.log(dzClosure.getQueuedFiles())
                if (dzClosure.getQueuedFiles().length > 0) 
                {                      
                    e.preventDefault();
                    e.stopPropagation();  
                    dzClosure.processQueue();  
                } 
                else 
                {
                    var blob = new Blob();
                    blob.upload = { 'chunked': dzClosure.defaultOptions.chunking };
                    dzClosure.uploadFile(blob);
                }    
            }
            else
            {
                return false;
                console.log('Sagol')
            }
            return false;
        });

        //send all the form data along with the files:
        this.on("sendingmultiple", function(data, xhr, formData) {
            formData.append("title", $("#id_title").val());
            formData.append("content", CKEDITOR.instances.id_content.getData());
            formData.append("tags", $("#id_tags").tagsinput('items'));
        });

        
        function CheckContent()
        {
            content = CKEDITOR.instances.id_content.getData()
            contentErrorDiv = $("div[label='id_content']")
            if(!content) //Empty
            {
                contentErrorDiv.removeClass('d-none')
                contentErrorDiv.find('span[label="error_content"]').text('Mövzu doldurulmalıdır.')
                return false;
            }
            else
            {   
                contentErrorDiv.addClass('d-none');
                return true;
            }

        }

        function CheckTag()
        {
            tagList = $("#id_tags").tagsinput('items')
            tagErrorDiv = $("div[label='id_tags']")
            if(tagList.length > 0) 
            {
                tagErrorDiv.addClass('d-none')
                for (var i = 0; i < tagList.length; i++ )
                {
                    if(! IsCorrectTag(tagList[i]))
                    {
                        tagErrorDiv.removeClass('d-none')
                        tagErrorDiv.find('span[label="error_content"]').text('Daxil etdiyiniz tag standartlara uyğun deyil.')
                        return false
                    }
                    

                }
                return true
            }
            else // Empty
            {  
                tagErrorDiv.removeClass('d-none')
                tagErrorDiv.find('span[label="error_content"]').text('Ən azı 1 tag yazılmalıdır.')
                return false
            }

        }

        function IsCorrectTag(argTag)
        {
            let pattern = /^[a-zA-Z0-9]{1,17}(-([a-zA-Z0-9]){1,17}){0,3}$/
            if (argTag.match(pattern))
            {
                return true;
            }
            return false;            
        }


    
    }
}
</script>


<script>
    $('#test').on('click', function()
    {

    });

</script>



{% endblock script %}