{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
<script type="application/javascript" src="{% static 'js/dropzone.js' %}"></script>


<style>
    .dz{
        border: dashed !important;
        border-color: #ccc !important;
        border-radius: 10px !important;
        transition: 0.2s all;
    }

    .dz:hover{
        background-color: aliceblue !important;
    }
</style>

{% endblock style %}

{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-wrapper-inner mb-5">
            <h1 class="tt-title-border">
                Yeni Mövzu yaradın
            </h1>
            <form class="form-default form-create-topic" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %} 
                
                {{ form.title | as_crispy_field }}

                <div class="pt-editor mb-4 d-flex flex-column">
                    <h6 class="pt-title">Mövzu*</h6>                
                    {% if form.content.errors %}
                        {% for eachError in form.content.errors %}
                            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                {{eachError}}. Daha ətraflı məlumat üçün <a href="{% url 'student-rules' %}" class="alert-link">bura</a> clickləyin.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %} 
                    {% endif %}     
                    {{ form.content }} {{ form.media }}           
                </div>
                <div class="row mb-4 ">
                    <div class="col-md-12">
                        <div class="dropzone dz" id="myDropzone"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="inputTopicTags">Taqlar*</label> 
                            {% if form.tags.errors %}
                                {% for eachError in form.tags.errors %}
                                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                    {{eachError}}. Daha ətraflı məlumat üçün <a href="{% url 'student-rules' %}" class="alert-link">bura</a> clickləyin.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endfor %} 
                                <input type="tags" name="tags" value="{{wrong_tags}}" class="form-control" id="inputTopicTags" data-role="tagsinput" placeholder="Taq istifadə edin"> 
                            {% else %}
                                <input type="tags" name="tags" class="form-control is-invalid" id="inputTopicTags" data-role="tagsinput" placeholder="Taq istifadə edin"> 
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto ml-md-auto">
                        <input id="create_post_btn" type="submit" class="btn btn-secondary btn-width-lg" value="Post yaradın">
                    </div>
                </div>
            </form>
        </div>

    </div>
</main>

<div id="js-popup-settings" class="tt-popup-settings">
    <div class="tt-btn-col-close">
        <a href="#">
            <span class="tt-icon-title">
				<svg>
					<use xlink:href="#icon-settings_fill"></use>
				</svg>
			</span>
            <span class="tt-icon-text">
				Settings
			</span>
            <span class="tt-icon-close">
				<svg>
					<use xlink:href="#icon-cancel"></use>
				</svg>
			</span>
        </a>
    </div>
    <form class="form-default">
        <div class="tt-form-upload">
            <div class="row no-gutter">
                <div class="col-auto">
                    <div class="tt-avatar">
                        <svg>
		                  <use xlink:href="#icon-ava-d"></use>
		                </svg>
                    </div>
                </div>
                <div class="col-auto ml-auto">
                    <a href="#" class="btn btn-primary">Upload Picture</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="settingsUserName">Username</label>
            <input type="text" name="name" class="form-control" id="settingsUserName" placeholder="azyrusmax">
        </div>
        <div class="form-group">
            <label for="settingsUserEmail">Email</label>
            <input type="text" name="name" class="form-control" id="settingsUserEmail" placeholder="Sample@sample.com">
        </div>
        <div class="form-group">
            <label for="settingsUserPassword">Password</label>
            <input type="password" name="name" class="form-control" id="settingsUserPassword" placeholder="************">
        </div>
        <div class="form-group">
            <label for="settingsUserLocation">Location</label>
            <input type="text" name="name" class="form-control" id="settingsUserLocation" placeholder="Slovakia">
        </div>
        <div class="form-group">
            <label for="settingsUserWebsite">Website</label>
            <input type="text" name="name" class="form-control" id="settingsUserWebsite" placeholder="Sample.com">
        </div>
        <div class="form-group">
            <label for="settingsUserAbout">About</label>
            <textarea name="" placeholder="Few words about you" class="form-control" id="settingsUserAbout"></textarea>
        </div>
        <div class="form-group">
            <label for="settingsUserAbout">Notify me via Email</label>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox01" name="checkbox">
                <label for="settingsCheckBox01">
		            <span class="check"></span>
		            <span class="box"></span>
		            <span class="tt-text">When someone replies to my thread</span>
		        </label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox02" name="checkbox">
                <label for="settingsCheckBox02">
		            <span class="check"></span>
		            <span class="box"></span>
		            <span class="tt-text">When someone likes my thread or reply</span>
		        </label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="settingsCheckBox03" name="checkbox">
                <label for="settingsCheckBox03">
		            <span class="check"></span>
		            <span class="box"></span>
		            <span class="tt-text">When someone mentions me</span>
		        </label>
            </div>
        </div>
        <div class="form-group">
            <a href="#" class="btn btn-secondary">Yadda saxla</a>
        </div>
    </form>
</div>
<a href="page-create-topic.html" class="tt-btn-create-topic">
    <span class="tt-icon">
        <svg>
          <use xlink:href="#icon-create_new"></use>
        </svg>
    </span>
</a>
</div>
</main>




{% endblock content %} {% block script %}



<script src="{% static 'js/tagsinput.js' %}"></script>
<!-- highlight.js-->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
    Dropzone.options.myDropzone= {
    url: 'http://{{ request.get_host }}/create-topic/',
    headers:{
        'X-CSRFToken' : '{{ csrf_token }}'
    },
    autoProcessQueue: false,
    maxFiles : 2, // (Back-End : 2)
    maxFilesize : 2, //2 MB (Back-End : 2 MB)
    parallelUploads: 2,
    uploadMultiple : true,
    addRemoveLinks: true,
    autoProcessQueue: false, // Bununlar biz submit etdikde filelar yuklenecen
    acceptedFiles: 'image/*', // (Back-End : only images)
    dictDefaultMessage: 'Şəkilləri bura yükləyin',
    dictFallbackMessage: 'Şəkilləri bura yükləyin',
    dictRemoveFile: 'Şəkli sil',
    dictFileTooBig: `Şəkilin tutumu böyüdür. Max şəkil tutumu: 2 MB`,
    dictInvalidFileType: 'Yalnız şəkil yükləyə bilərsiniz',
    dictMaxFilesExceeded: 'Maximum 2 şəkil yükləyə bilərsiniz',
    dictResponseError: "Server responded with {{statusCode}} code.",
    init: function() {
        dzClosure = this; // Makes sure that 'this' is understood inside the functions below.

        // for Dropzone to process the queue (instead of default form behavior):
        $('#create_post_btn').on("click", function(e) {
            console.log("Hello")
            // Make sure that the form isn't actually being sent.
            e.preventDefault();
            e.stopPropagation();
            dzClosure.processQueue();
        });

        //send all the form data along with the files:
        this.on("sendingmultiple", function(data, xhr, formData) {
            formData.append("title", $("#id_title").val());
            formData.append("content", CKEDITOR.instances.id_content.getData());
            formData.append("tags", $("input[name='tags']").tagsinput('items')[1]);
        });
    }
}
</script>



{% endblock script %}