{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-catSingle-title">
            <div class="tt-innerwrapper tt-row">
                <div class="tt-col-left">
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-color01 tt-badge">python</span></a></li>
                    </ul>
                </div>
                <div class="ml-left tt-col-right">
                    <div class="tt-col-item">
                        <h2 class="tt-value">Suallar - 1,245</h2>
                    </div>
                    <div class="tt-col-item">
                        <div class="tt-search">
                            <form class="search-wrapper">
                                <div class="search-form">
                                    <input type="text" class="tt-search__input" placeholder="Axtar..">
                                    <button class="tt-search__btn" type="submit">
                                        <svg class="tt-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 117" id="icon-search"><path d="M54 108C24.22 108 0 83.78 0 54S24.22 0 54 0s54 24.22 54 54-24.22 54-54 54zm0-99C29.19 9 9 29.19 9 54s20.19 45 45 45 45-20.19 45-45S78.81 9 54 9z"></path><path d="M112.5 117c-1.15 0-2.3-.44-3.18-1.32l-23.5-23.5a4.49 4.49 0 0 1 0-6.36 4.49 4.49 0 0 1 6.36 0l23.5 23.5a4.49 4.49 0 0 1 0 6.36c-.88.88-2.03 1.32-3.18 1.32z"></path></svg>
                                        </svg>
                                    </button>
                                     <button class="tt-search__close">
                                       <svg class="tt-icon">
                                          <use xlink:href="#icon-cancel"></use>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tt-innerwrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores impedit porro recusandae, nesciunt veniam ut. Eaque autem accusamus consectetur, sit soluta, voluptatum quam assumenda modi asperiores veniam rem ullam quas.
            </div>
            <div class="tt-innerwrapper">
                <h6 class="tt-title">Oxşar taglar</h6>
                <ul class="tt-list-badge">
                    <li><a href="#"><span class="tt-badge">django</span></a></li>
                    <li><a href="#"><span class="tt-badge">flask</span></a></li>
                    <li><a href="#"><span class="tt-badge">falsk-sqlalchemy</span></a></li>
                    <li><a href="#"><span class="tt-badge">dynamic urls</span></a></li>                  
                </ul>
            </div>
        </div>
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value">Activity</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <div class="tt-col-avatar">
                        <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width:40px; height:40px;">
                    </div>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="../single-user/page-single-topic.html">
                        Halloween Costume Contest 2018
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">politics</span></a></li>
                                <li><a href="#"><span class="tt-badge">contests</span></a></li>
                                <li><a href="#"><span class="tt-badge">authors</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">python</span></div>
                <div class="tt-col-value hide-mobile">985</div>
                <div class="tt-col-value tt-color-select hide-mobile">502</div>
                <div class="tt-col-value hide-mobile">15.1k</div>
                <div class="tt-col-value hide-mobile">1h</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width:40px; height:40px;">
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="../single-user/page-single-topic.html">
                        We’re removing Envato Credits from Market
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                        <ul class="tt-list-badge">
                            <li class="show-mobile"><a href="#"><span class="tt-color02 tt-badge">video</span></a></li>
                        </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">python</span></div>
                <div class="tt-col-value hide-mobile">584</div>
                <div class="tt-col-value tt-color-select  hide-mobile">35</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2h</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width:40px; height:40px;">
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="../single-user/page-single-topic.html">
                        Web Hosting Packages for ThemeForest WordPress
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">python</span></div>
                <div class="tt-col-value  hide-mobile">401</div>
                <div class="tt-col-value tt-color-select  hide-mobile">975</div>
                <div class="tt-col-value  hide-mobile">12.6k</div>
                <div class="tt-col-value hide-mobile">2h</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width:40px; height:40px;">
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="../single-user/page-single-topic.html">
                        Review Queue Changes for VideoHive & PhotoDune
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color04 tt-badge">pets</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">python</span></div>
                <div class="tt-col-value  hide-mobile">308</div>
                <div class="tt-col-value tt-color-select  hide-mobile">660</div>
                <div class="tt-col-value  hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <img src="{% static 'images/profile_images/default.jpg' %}" alt="" style="width:40px; height:40px;">
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="../single-user/page-single-topic.html">
                        Does Envato act against the authors of Envato markets?
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">python</span></div>
                <div class="tt-col-value hide-mobile">358</div>
                <div class="tt-col-value tt-color-select hide-mobile">68</div>
                <div class="tt-col-value hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>            
            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                    <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>

{% endblock content %}





