{% extends 'base.html' %} 

{% load static %} 

{% load el_pagination_tags %}

{% block content %}

<main id="tt-pageContent" class="tt-offset-small">
    <div class="tt-wrapper-section">
        <div class="container">
            <div class="tt-user-header">
                <div class="tt-col-avatar">
                    <div class="tt-icon">
                       <img class="tt-icon" src="/{{ student.picture }}" />
                    </div>
                </div>
                <div class="tt-col-title">
                    <div class="tt-title">
                        <a href="#">{{student.user.username}}</a>
                    </div>
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-color14 tt-badge">LVL : 26</span></a></li>
                    </ul>
                </div>
                <div class="tt-col-btn" id="js-settings-btn">
                    <div class="tt-list-btn">
                        <a href="#" class="tt-btn-icon">
                            <svg class="tt-icon">
                              <use xlink:href="#icon-settings_fill"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tt-tab-wrapper">
            <div class="tt-wrapper-inner">
                <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                    <li class="nav-item show">
                        <a class="nav-link active" data-toggle="tab" href="#tt-tab-01" role="tab"><span>Ümumi aktivlik</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tt-tab-02" role="tab"><span>Suallar</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tt-tab-03" role="tab"><span>Kommentlər</span></a>
                    </li>
                    <li class="nav-item tt-hide-md">
                        <a class="nav-link" data-toggle="tab" href="#tt-tab-06" role="tab"><span>Taqlar</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <!-- Ümumi Aktivlik -->
                <div class="tab-pane tt-indent-none  show active" id="tt-tab-01" role="tabpanel">
                   <div class="tt-topic-list">
                        <div class="tt-list-header">
                            <div class="tt-col-topic">Mövzu</div>
                            <div class="tt-col-value-large hide-mobile">Taqlar</div>
                            <div class="tt-col-value-large hide-mobile">Status</div>
                            <div class="tt-col-value-large hide-mobile">Tarix</div>
                        </div>
                        <div class="tt-item">
                            <div class="tt-col-avatar">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-ava-n"></use>
                                </svg>
                            </div>
                            <div class="tt-col-description">
                                <h6 class="tt-title"><a href="#">
                                   Does Envato act against the authors of Envato markets?
                                </a></h6>
                                <div class="tt-col-message">
                                    <a href="#">Dylan replied:</a> It’s time to channel your inner Magnum P.I., Ron Swanson or Hercule Poroit! It’s the time that all guys (or gals) love and all our partners hate It’s Movember!
                                </div>
                                <div class="row align-items-center no-gutters hide-desktope">
                                    <div class="col-9">
                                        <ul class="tt-list-badge">
                                            <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                                        </ul>
                                        <a href="#" class="tt-btn-icon show-mobile">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                                        </a>
                                    </div>
                                    <div class="col-3 ml-auto show-mobile">
                                       <div class="tt-value">5 Jan,19</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col-category tt-col-value-large hide-mobile"><span class="tt-color05 tt-badge">music</span></div>
                            <div class="tt-col-value-large hide-mobile">
                                <a href="#" class="tt-btn-icon">
                                     <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                                </a>
                            </div>
                            <div class="tt-col-value-large hide-mobile">5 Jan,19</div>
                        </div>
                        <div class="tt-row-btn">
                            <button type="button" class="btn-icon js-topiclist-showmore">
                                <svg class="tt-icon">
                                  <use xlink:href="#icon-load_lore_icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Suallar -->
                <div class="tab-pane tt-indent-none" id="tt-tab-02" role="tabpanel">
                    {% if questions %}
                    <div class="tt-topic-list">
                        <div class="tt-list-header">
                            <div class="tt-col-topic">Mövzu</div>
                            <div class="tt-col-category">Kateqoriya</div>
                            <div class="tt-col-value hide-mobile">Bəyənmə</div>
                            <div class="tt-col-value hide-mobile">Kommentlər</div>
                            <div class="tt-col-value">Tarix</div>
                        </div>
                        {% paginate questions %}                   
                        {% for question in questions %}
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <img class="tt-icon" src="/{{ student.picture }}" />
                                </div>
                                <div class="tt-col-description">
                                    <h6 class="tt-title">
                                        <a href="#">
                                            {{ question.title }}
                                        </a>
                                    </h6>
                                </div>
                                <div class="tt-col-category">
                                    {% for tag in question.tags.all %} 
                                        <span class="tt-color01 tt-badge">{{ tag }}</span>
                                    {% endfor %} 
                                </div>
                                <div class="tt-col-value hide-mobile">{{ question.get_upvote }}  {{ question.get_downvote }}</div>
                                <div class="tt-col-value tt-color-select  hide-mobile">{{ question.get_comment_count }}</div>
                                <div class="tt-col-value-large hide-mobile">{{ question.updated|date:"d M,y" }}</div>
                            </div>
                        
                        {% endfor %}
                        {% show_pages %}
                    </div>
                    {% else %}

                    <div>
                    
                        <h5>Bu istifadəçiyə aid sual tapılmadı.</h5>

                    </div>

                    {% endif %}
                </div>
                <!-- Kommentlər -->
                <div class="tab-pane tt-indent-none" id="tt-tab-03" role="tabpanel">
                    {% if questions %}
                    <div class="tt-topic-list">
                        <div class="tt-list-header">
                            <div class="tt-col-topic">Mövzu</div>
                            <div class="tt-col-category">Taqlar</div>
                            <div class="tt-col-value">Tarix</div>
                        </div>
                                                    
                        {% for comment in comments %}
                            <div class="tt-item">
                                <div class="tt-col-avatar">
                                    <img class="tt-icon" src="/{{ student.picture }}" />
                                </div>
                                <div class="tt-col-description">
                                    <h6 class="tt-title">
                                        <a href="#">
                                            {{ comment.comment }}
                                        </a>
                                    </h6>
                                </div>
                                <div class="tt-col-category">
                                    {% for tag in comment.question.tags.all %} 
                                        <span class="tt-color01 tt-badge">{{ tag }}</span>
                                    {% endfor %} 
                                </div>
                                <div class="tt-col-value-large hide-mobile">{{ comment.updated|date:"d M,y" }}</div>
                            </div>
                            
                        {% endfor %}

                    </div>
                    {% else %}

                    <div>
                    
                        <h5>Bu istifadəçi hələ komment verməyib.</h5>

                    </div>

                    {% endif %}
                </div>
                <!-- Taqlar -->
                <div class="tab-pane" id="tt-tab-06" role="tabpanel">
                    <div class="tt-wrapper-inner">
                        <div class="tt-categories-list">
                            <div class="row">
                                {% for tag,count in student.get_tags.items %}
                                    <div class="col-md-6 col-lg-4">
                                        <div class="tt-item">
                                            <div class="tt-item-header">
                                                <ul class="tt-list-badge">
                                                    <li><a href="#"><span class="tt-color01 tt-badge">{{tag.name}}</span></a></li>
                                                </ul>
                                                <h6 class="tt-title"><a href="#">Suallar - {{count}}</a></h6>
                                            </div>
                                            <div class="tt-item-layout">
                                            <div class="innerwrapper">
                                                {{tag.description}}
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% endblock script %}